
/*********************tags**************************/
h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;

}
body {
  font-family: "Montserrat";
}




/********************ids****************************/
#title {
  background-color: #fcba03;
  color: white;
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #fcba03;
  color: #fff;
}
#press {
  background-color: #fcba03;
  text-align: center;
  padding-bottom: 3%;
}
#pricing {
  padding: 100px;
  text-align: center;
}


/***********************classes***************************/
.container-fluid {
  padding: 3% 15% 7%;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  /*transform: rotate(20deg);*/
  position: absolute;
  right: 20%;
  margin-top: -6rem;
}
/* features */
.feature {
  text-align: center;
  padding: 4.5%;
}
.feature-img {
  margin-bottom: 1rem;
  color: #fcba03;
}
.feature-img:hover {
    color: #89c4f4;
}
.feature-description {
  text-align: center;
  color: #8f8f8f;
}
/* Testimonials */
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}
.carousel-item {
  padding: 7% 15%;
}
/* Press icons*/

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
/* pricing */
.pricing-column {
  padding: 3% 2%;
}
