
/*********************tags**************************/
body {
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}
/*************headings**************/
.big-heading {
  font-style: italic;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 900;
}
.section-heading {
  font-size: 2.5rem;
  line-height: 1.5rem;
  margin-bottom: 15px;
}


/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}
.nav-item {
  padding: 0 25px;
}
.nav-link {
  font-size: 1.5rem;
  font-weight: 500;
}
/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

#title {
  background-color: #ffc100;
  color: white;
  text-align: left;
}
.container-fluid {
  padding: 5% 15%;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
/* features */
.feature {

  padding: 4.5%;
}
.feature-img {
  margin-bottom: 1rem;
  color: #fcba03;
}
.feature-img:hover {
    color: #b9d5d5;
}
.feature-description {

  color: #8f8f8f;
}
.feature-title {
  font-size: 1.5rem;
}

/* Testimonials */
#testimonials {
  padding: 3% 15%;

  background-color: #b9d5d5;
  color: #fff;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}
.carousel-item {
  padding: 7% 15%;
}
.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}


/* Press section */
#press {
  background-color: #b9d5d5;

  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing section */
#apply {
  padding: 100px;

}
/* pricing */
.pricing-column {
  padding: 3% 2%;
}
.btn-warning {
  background-color: #ffc100;
}
.btn-outline-warning {
  color: #ffc100;
  border-color: #ffc100;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
#cta {
  padding: 7% 15%;
  background-color:#ffc100;

  color: #fff;
}
.cta-heading {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.5;
  font-size: 3rem;
}
.social-icon {
  margin: 20px 20px;
}

#footer {
  padding: 7% 15%;

}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  h1 {
    font-size: 3.5rem;
  }
}
